
body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #eeeeee;
  margin: 50px auto 0 auto;
  padding-top: 10px;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
}

h2 {
  color: #00adb5;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

hr {
  width: 3%;
  border: dotted 6px;
  color: #222831;
  border-bottom: none;
}

h3 {
  color: #00adb5;
  font-family: "Montserrat", sans-serif;
}
.h3 {
  color: #00adb5;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  padding-top: 30px;
}

p {
  color: #222831;
  font-family: "Montserrat", sans-serif;
}

a:hover {
  color: #fde2e2;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

/* .mountain {
  width: 100%;
} */

.sub-heading {
  color: #eeeeee;
  font-size: 1.5rem;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

.profile {
  width: 50%;
  margin: 0 auto 0 auto;
  padding: 100px 0 100px 0;
  line-height: 2;
}

.top {
  background-color: #222831;
  padding-top: 100px;
  position: relative;
}

.profile-img {
  height: 200px;
  width: 200px;
}

.middle {
  background-color: #eeeeee;
  padding-top: 10px;
}

.skills {
  padding: 100px 0 50px 0;
}

.skill-row {
  width: 70%;
  margin: 100px auto 100px auto;
  line-height: 2;
  text-align: left;
  display: flex;
  gap: 50px;
  justify-content: start;
  align-items: center;
}

.skill-row2 {
  width: 70%;
  line-height: 2;
  margin: 100px auto 100px auto;
  text-align: right;
  display: flex;
  gap: 50px;
  justify-content: end;
  align-items: center;
}

.div-img1 {
  width: 25%;
}

.div-img2 {
  width: 20%;
}

.gap {
  margin-right: 10px;
}

.computer {
  width: 40%;
}

.request {
  color: #222831;
}

.btn {
  font-family: "Montserrat", sans-serif;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #222831;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #00adb5;
  text-decoration: none;
}

.footer-link {
  color: #00adb5;
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  text-decoration: none;
}

.bottom {
  background-color: #222831;
  margin: 0;
  padding: 50px 0 20px 0;
}

.contact-me {
  padding: 100px 0 100px 0;
}

.dm {
  width: 40%;
  margin: 40px auto 60px auto;
}

.end {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  margin: 50px 0 0 0;
}

@media (max-width: 38em) {
  .mountain {
    width: 80vw;
  }

  .profile {
    width: 70vw;
  }

  .h3 {
    padding-top: 0;
  }

  .skill-row,
  .skill-row2 {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .div-img1,
  .div-img2 {
    width: 35%;
  }
}

